@import "../base/reset";
@import '../fonts/fonts';
@import '../variables/variables';
@import '../mixins/mixins';

.section__skill {
  padding: 40px 60px;
  @media screen and (max-width: $width-mob) {
    padding: 20px;
  }

  .wrapper {
    max-width: $wrapper-mid;
    //padding-left: 140px;
    margin: 0 auto;
    @media screen and (max-width: $width-middle) {
      //padding-left: 0px;
    }

    .header {
      font-size: 74px;
      color: $theme-color-1;
      margin-bottom: 16px;
    }

    .subheader {
      font-size: 28px;
      text-transform: uppercase;
      margin-bottom: 20px;
      @media screen and (max-width: $width-mob) {
        font-size: 22px;
      }
    }

    .grid-skill {
      display: flex;
      flex-wrap: wrap;

      .skill {
        width: 33.3%;
        height: 250px;
        background: $theme-color-back;
        border-top: 1px solid #c5c5c5;
        border-left: 1px solid #c5c5c5;
        display: flex;
        align-items: center;
        background-image: url(../img/point.png);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position-x: 88%;
        background-position-y: 14%;
        padding: 20px 20px 0 60px;
        font-size: 18px;
        font-weight: 400;
        @media screen and (max-width: $width-mob) {
          width: 50%;
          height: 150px;
          border-right: 1px solid #c5c5c5;
          font-size: 16px;
          padding: 15px;
          background-size: 18px;
        }
      }

      .skill-header {
        background: $theme-color-1;
        color: white;
        font-size: 44px;
        justify-content: center;
        padding: 20px;
        font-weight: bold;

      }

      .skill-subheader {
        width: 66.6%;
        background: white;
        border-top: 1px solid #c5c5c5;
        border-right: 1px solid #c5c5c5;
        padding: 20px 20px 20px 60px;
        font-size: 26px;
        text-transform: uppercase;
      }

      .skill.br {
        border-right: 1px solid #c5c5c5;
      }

      .skill.bb {
        border-bottom: 1px solid #c5c5c5;
      }

    }
  }
}
