@import "../base/reset";
@import '../fonts/fonts';
@import '../variables/variables';
@import '../mixins/mixins';

.section__philosophy {
  //height: 100px;
  padding: 40px;

  .wrapper {
    max-width: 1160px;
    margin: 0 auto;

    .philosophy__row {
      color: #203865;
      font-size: 28px;
      display: flex;
      align-items: center;
      height: 75px;
      font-weight: bold;
      @media screen and (max-width: $width-mob) {
        height: auto;
        flex-direction: column;
        font-size: 16px;
        margin-bottom: 30px;
      }

      div {
        display: flex;
        align-items: center;
      }

      .first {
        width: 265px;
      }

      .arrow {
        width: 160px;
      }

      .last {

      }
    }
  }




}
