@import '../variables/variables';

header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  height: 118px;
  border-bottom: 1px solid #c5c5c5;
  text-transform: uppercase;

  a {
    text-decoration: none;
  }

  a.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
  }

  .nav-info-block {
    background: #601431;
    color: #fff;
    display: flex;
    align-items: center;
    min-width: 270px;
    justify-content: center;
    margin-left: 15px;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 118px;
    justify-content: space-between;

    .nav-container {
      width: 100%;

      ul {
        width: 100%;
        display: flex;
        margin: 0;
        justify-content: space-around;

        li {
          float: left;
          list-style: none;

          a {
            color: #1f2227;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
              color: #808080;
              text-decoration: none;
            }
          }

          .lang-switch {
            padding: 0 10px;
          }

          .lang-switch.current {
            font-weight: bold;
          }

        }
      }
    }


  }

  #nav {
    &:checked {
      + {
        .nav-open {
          transform: rotate(45deg);

          i {
            background: #fff;
            transition: transform 0.2s ease;

            &:nth-child(1) {
              transform: translateY(6px) rotate(180deg);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              transform: translateY(-6px) rotate(90deg);
            }
          }
        }
      }

      ~ {
        .nav-container {
          z-index: 9990;
          opacity: 1;

          ul {
            li {
              a {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
  }

  .hidden {
    display: none;
  }

}
  @media screen and (max-width: $width-mob) {
    header {
      nav {
        .nav-container {
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: -1;
          background: #1f2227;
          opacity: 0;
          transition: all 0.2s ease;

          ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            flex-direction: column;

            li {
              display: block;
              float: none;
              width: 100%;
              text-align: right;
              margin-bottom: 10px;

              &:nth-child(1) {
                a {
                  transition-delay: 0.2s;
                }
              }

              &:nth-child(2) {
                a {
                  transition-delay: 0.3s;
                }
              }

              &:nth-child(3) {
                a {
                  transition-delay: 0.4s;
                }
              }

              &:nth-child(4) {
                a {
                  transition-delay: 0.5s;
                }
              }

              &:not(:first-child) {
                margin-left: 0;
              }

              a {
                padding: 10px 25px;
                opacity: 0;
                color: #fff;
                font-size: 24px;
                font-weight: 600;
                transform: translateY(-20px);
                transition: all 0.2s ease;

              }

             .lang-switch {
                padding: 10px 25px;
              }
            }
          }
        }
        .nav-open {
          position: fixed;
          right: 10px;
          top: 10px;
          display: block;
          width: 48px;
          height: 48px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;

          i {
            display: block;
            width: 20px;
            height: 2px;
            background: #1f2227;
            border-radius: 2px;
            margin-left: 14px;

            &:nth-child(1) {
              margin-top: 16px;
            }

            &:nth-child(2) {
              margin-top: 4px;
              opacity: 1;
            }

            &:nth-child(3) {
              margin-top: 4px;
            }
          }
        }
      }
    }

  }




